.footer-padding {
	padding-bottom: 60px;
}

.footer {
	position: sticky;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 60px;
	background-color: #e4fbff;

}

.footer p {
	margin-top: 25px;
	font-size: 12px;
	padding-top: 20px;
  color: #a6a7a8;
}

.upload-box {
  /* margin-left: 40px;
  padding-left: 260px; */
  margin: auto;
  width: 50%;
}

.chose-img {
	margin-left: 222px;
  margin-right: 222px;
  padding-bottom: 80px;
}

.manage-buttons {
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: auto;
}

.doc-image {
  margin-left: 298px;
  margin-right: 298px;
  padding-bottom: 100px;
}

.carousel-caption {
  padding-top: 100px;
}

.carousel {
  display: none;
}

.document-container {
  margin-left: 200px;
  margin-right: 200px;
}

.input-group {
  display: initial;
}

.total {
  margin: 0px;
  padding-top: 20px;
}

.zero-docs {
  width: 800px;
  height: 400px;
}

.zero-docs p {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 175px;
  padding-left: 175px;
  color: #bfc3c6;
  text-align: center;
  font-size: 18px;
}

.zero-docs-compare {
  width: inherit;
  height: inherit;
}

.zero-docs-compare p{
	padding-right: 100px;
	padding-top: 170px;
	padding-left: 100px;
	color: #bfc3c6;
	text-align: center;
	font-size: 18px;
}

.zero-target-doc {
	width: 526px;
	height: 410px;
}

.zero-target-doc p {
  padding-right: 100px;
  padding-top: 200px;
  padding-left: 100px;
  color: #bfc3c6;
  text-align: center;
  font-size: 18px;
}

.document-button {
  margin-left: 20px;
  margin-right: 20px;
  padding-left: 30px;
  padding-right: 30px;
}

.navbar {
    padding-top: 5px;
    padding-bottom: 5px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 16px;
    letter-spacing: 2px;
}

.upload {
  display: flex;
}

input[type="file"]{
  width: 700px;
}

.choose-box {
	display: flex;
}

.choose-box select {
	margin-right: 5px;
}

.verticalLine {
	border-left: 2px solid black;
}

.horizontalLine {
	margin-top: 5px;
	border-top: 2px solid black;
	padding-top: 5px;
}

.horizontalLine button {
	width: inherit;
}

.image-box {
	padding-top: 10px;
	display: none;
}

.image-box img{
	border: 1px solid black;
}

.results-box {
	padding-top: 20px;
}

.navbar-brand {
  font-size: 26px;
  margin-left: 108px;
}

.nav-item {
  padding-left: 20px;
  padding-right: 20px;
}

.navbar-nav {
  margin-left: auto;
  margin-right: 100px !important;
}

.navbar-nav  li a:hover {
    color: #7868e6 !important;
}
