<%- include("partials/header") %>

<div class="about-us">
    <h1 class="headline">About Us</h1>
    <div class="row authors">
      <div class="col-lg-4 author-details">
        <img src="liel.jpg" alt="">
        <p>Liel Sananes</p>
        <a href="mailto:lielsananes8@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/lielsananes/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="or.jpg" alt="">
        <p>Or Cohen</p>
        <a href="mailto:orcohen733@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/or-cohen-6a74081aa/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="nadav.jpg" alt="">
        <p>Nadav Cohen</p>
        <a href="mailto:nadavcohen306@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/nadav-cohen-se/">LinkedIn</a>
      </div>
    </div>
    <div class="about-us-brief">
      <p style="font-size: 22px;">4th year software engineering students in SCE - Sami Shamoon collage of engineering.</p>
      <p style="font-size: 22px;">This project is developed as part of our final project.</p>
      <p>The subject of the project is Authorship verification in manuscripts. In this project we have developed a model that can differentiate between different manuscripts and thus determine whether a particular document was written by the same person or not. We developed the model using a neurons network and methods of deep learning.</p>
    </div>
</div>
<div class="about-us">
    <h1 class="headline">About Us</h1>
    <div class="row authors">
      <div class="col-lg-4 author-details">
        <img src="liel.jpg" alt="">
        <p>Liel Sananes</p>
        <a href="mailto:lielsananes8@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/lielsananes/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="or.jpg" alt="">
        <p>Or Cohen</p>
        <a href="mailto:orcohen733@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/or-cohen-6a74081aa/">LinkedIn</a>
      </div>
      <div class="col-lg-4 author-details">
        <img src="nadav.jpg" alt="">
        <p>Nadav Cohen</p>
        <a href="mailto:nadavcohen306@gmail.com">Email</a>
        <a href="https://www.linkedin.com/in/nadav-cohen-se/">LinkedIn</a>
      </div>
    </div>
    <div class="about-us-brief">
      <p style="font-size: 22px;">4th year software engineering students in SCE - Sami Shamoon collage of engineering.</p>
      <p style="font-size: 22px;">This project is developed as part of our final project.</p>
      <p>The subject of the project is Authorship verification in manuscripts. In this project we have developed a model that can differentiate between different manuscripts and thus determine whether a particular document was written by the same person or not. We developed the model using a neurons network and methods of deep learning.</p>
    </div>
</div>





<%- include("partials/footer") %>

<script type="text/javascript">
  document.getElementsByClassName("container")[0].style.display = "contents";
  document.getElementsByClassName("navbar")[0].classList.add("sticky");
  // document.getElementsByClassName("body")[0].style.height = "max-content";
  document.getElementsByClassName("footer")[0].style.position = "sticky";
</script>
