<%- include("partials/header") %>

<h1>Compare</h1>
<div class="row">
  <div class="col lg-4">
    <h3>Choose Target Document</h3>
    <select name="documentTarget">
      <option>Document1</option>
      <option>Document2</option>
      <option>Document3</option>
    </select>
  </div>
  <div class="col-lg-8">
    <h3>Choose Documents To Compare</h3>
    <select name="documentCompare">
      <option>Document1</option>
      <option>Document2</option>
      <option>Document3</option>
    </select>
  </div>
</div>

<%- include("partials/footer") %>
